# Nagios monitoring configuration for local Tomcat

# Check used heap size memory
define service{
        use                             generic-service
        host_name                       localhost
        service_description             Tomcat JMX UsedHeapMemory
        notifications_enabled           0
        check_command                   check_jmx!{{ tomcat_jmx_port }}!-O "java.lang:type=Memory" -A HeapMemoryUsage -K used -w 64000000 -c 120000000 -u B
        }

#Get Requests since last check (its checked every minute)
# Because nagios cannot calculate with previsous checks and jmx doesnt provide requests per second metric
# we need to reset it every time and check requests per minute
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       localhost
        service_description             Tomcat JMX Requests
        notifications_enabled           0
        check_command                   check_jmx!10000!-O "Catalina:type=GlobalRequestProcessor,name=\"http-nio-8080\"" -A requestCount -o resetCounters -w 1000 -c 2000
        max_check_attempts              1
        normal_check_interval           1
        }

