Listen 8443

<Virtualhost *:8443>
   ErrorLog logs/nagios_ssl_error_log
   TransferLog logs/nagios_ssl_access_log
   LogLevel warn

    SSLEngine on
    SSLCipherSuite EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH

    SSLProtocol All -SSLv2 -SSLv3
    SSLCertificateFile /etc/pki/tls/certs/localhost.crt
    SSLCertificateKeyFile /etc/pki/tls/private/localhost.key
    SSLCompression off


    ScriptAlias /nagios/cgi-bin/ "/usr/lib64/nagios/cgi-bin/"

    <Directory "/usr/lib64/nagios/cgi-bin/">
       #SSLRequireSSL
       Options ExecCGI
       AllowOverride None

       AuthName "Nagios Access"
       AuthType Basic
       AuthUserFile /etc/nagios/passwd

       <IfModule mod_authz_core.c>
          <RequireAll>
             Require all granted
             Require valid-user
          </RequireAll>
       </IfModule>
    </Directory>

    Alias /nagios "/usr/share/nagios/html"

    <Directory "/usr/share/nagios/html">
    #  SSLRequireSSL
       Options None
       AllowOverride None

       AuthName "Nagios Access"
       AuthType Basic
       AuthUserFile /etc/nagios/passwd

       <IfModule mod_authz_core.c>
          <RequireAll>
             Require all granted
             Require valid-user
          </RequireAll>
       </IfModule>
    </Directory>

</VirtualHost>
